<ul>
  <li>
    <%=
      link_to('出版社一覧', companies_path)
    %>
  </li>
  <li>
    <%=
      link_to('著者一覧', authors_path)
    %>
  </li>
  <li>
    <%=
      link_to('書籍一覧', books_path)
    %>
  </li>
</ul>
